
<ion-content mode="ios">
  <br>
    <ion-row text-center>
      <ion-col>
          <h3 style="line-height: 0px;font-weight: bolder;">Getting Started</h3>
          <p>Here is a guide to get you started</p>
          <ion-button mode="ios" shape="round" class="btn-default" (click)="toChoose()">Continue</ion-button>
      </ion-col>
    </ion-row>
        <ion-slides pager="true">
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col size="4" >
                  <b style="font-size: 110px;color:#7ddcf2;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">1</b>
                  <h6 >Guide 1 Title</h6>
                </ion-col>
                <ion-col size="7" >
                    <img src="assets/icon/imgsample.jpg" >  
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="justify" padding style="padding-top: 0;font-size: 14px">
                      Lorem ipsum dolor sit amet, consete adipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliqu yam erat, sed. idunt ut labore et doloremagnaliqu yam erat, sed.
                      <br><br>
                      Lorem ipsum dolor sit amet, consete adipscing elitr, dolor sit amet, consete nonumy eirmod tempor.
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
          <ion-slide>
              <ion-grid>
                <ion-row>
                  <ion-col size="4" >
                    <b style="font-size: 110px;color:#7ddcf2;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">2</b>
                    <h6 >Guide 2 Title</h6>
                  </ion-col>
                  <ion-col size="7" >
                      <img src="assets/icon/imgsample.jpg" >  
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p class="justify" padding style="padding-top: 0;font-size: 14px">
                        Lorem ipsum dolor sit amet, consete adipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliqu yam erat, sed. idunt ut labore et doloremagnaliqu yam erat, sed.
                        <br><br>
                        Lorem ipsum dolor sit amet, consete adipscing elitr, dolor sit amet, consete nonumy eirmod tempor.
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-slide>
            <ion-slide>
                <ion-grid>
                  <ion-row>
                    <ion-col size="4" >
                      <b style="font-size: 110px;color:#7ddcf2;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">3</b>
                      <h6 >Guide 3 Title</h6>
                    </ion-col>
                    <ion-col size="7" >
                        <img src="assets/icon/imgsample.jpg" >  
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <p class="justify" padding style="padding-top: 0;font-size: 14px">
                          Lorem ipsum dolor sit amet, consete adipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliqu yam erat, sed. idunt ut labore et doloremagnaliqu yam erat, sed.
                          <br><br>
                          Lorem ipsum dolor sit amet, consete adipscing elitr, dolor sit amet, consete nonumy eirmod tempor.
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-slide>
              <ion-slide>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="4" >
                        <b style="font-size: 110px;color:#7ddcf2;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">4</b>
                        <h6 >Guide 4 Title</h6>
                      </ion-col>
                      <ion-col size="7" >
                          <img src="assets/icon/imgsample.jpg" >  
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <p class="justify" padding style="padding-top: 0;font-size: 14px">
                            Lorem ipsum dolor sit amet, consete adipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliqu yam erat, sed. idunt ut labore et doloremagnaliqu yam erat, sed.
                            <br><br>
                            Lorem ipsum dolor sit amet, consete adipscing elitr, dolor sit amet, consete nonumy eirmod tempor.
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-slide>
        </ion-slides>
</ion-content>
