<ion-header translucent mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons slot="secondary">
          <ion-button>
              <img src="assets/icon/brixylogo.png" style="width: 34px;" mode="ios">
          </ion-button>
        </ion-buttons>

        <ion-title>Users</ion-title>

        <ion-buttons slot="primary" (click)="toAccount()">
          <ion-button>
              <img src="assets/icon/profilee.png" style="width: 32px;" mode="ios">
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-segment style="padding: 5px" color="primary" mode="ios" (ionChange)="segmentChanged()" [(ngModel)]="segment">
          <ion-segment-button layout="icon-start" style="padding: 3px" mode="ios" value="0">
              <ion-label>Followers &nbsp;&nbsp;&nbsp;
                <b style="font-size:13px" text-right>18</b>
              </ion-label>
              <ion-icon name="people" mode="ios"></ion-icon>
          </ion-segment-button>  
          <ion-segment-button layout="icon-start" style="padding: 3px" mode="ios" value="1">
              <ion-label>Following &nbsp;&nbsp;&nbsp;
                <b style="font-size:13px" text-right>29</b>
              </ion-label>
              <ion-icon name="people" mode="ios"></ion-icon>
             
          </ion-segment-button>
      </ion-segment>
</ion-header>
<ion-content mode="ios">
    <ion-slides #slides (ionSlideDidChange)="slideChanged()" mode="ios">
        <ion-slide>
            <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-list>
                      <ion-item (click)="goVideoTapped()">
                        <ion-thumbnail slot="start" style="min-width: 7rem;min-height: 5rem;">
                          <img src="assets/icon/imgsample.jpg">  
                        </ion-thumbnail>
                        <ion-label>
                          <h2>Lalisa Manuban</h2>
                          <p style="line-height: 1.5;font-size: 13px;color: #8d8d8d;"><ion-icon color="dark" name="pin"></ion-icon> Philippines</p>
                          <p style="font-size: 15px;text-align: right;">
                                  <ion-icon color="dark" name="heart" style="font-size: 17px"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                                  <ion-icon color="dark" name="eye" style="font-size: 17px"></ion-icon>&nbsp;8k
                                </p>
                        </ion-label>
                      </ion-item>
                      <ion-item (click)="goVideoTapped()">
                              <ion-thumbnail slot="start" style="min-width: 7rem;min-height: 5rem;">
                                <img src="assets/icon/imgsample.jpg">  
                              </ion-thumbnail>
                              <ion-label>
                                <h2>Lili Cruz</h2>
                                <p style="line-height: 1.5;font-size: 13px;color: #8d8d8d;"><ion-icon color="dark" name="pin"></ion-icon> Philippines</p>
                                <p style="font-size: 15px;text-align: right;">
                                        <ion-icon color="dark" name="heart" style="font-size: 17px"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                                        <ion-icon color="dark" name="eye" style="font-size: 17px"></ion-icon>&nbsp;8k
                                      </p>
                              </ion-label>
                            </ion-item>
                      <ion-item (click)="goVideoTapped()">
                                  <ion-thumbnail slot="start" style="min-width: 7rem;min-height: 5rem;">
                                    <img src="assets/icon/imgsample.jpg">  
                                  </ion-thumbnail>
                                  <ion-label>
                                    <h2>Jolie Celestial</h2>
                                    <p style="line-height: 1.5;font-size: 13px;color: #8d8d8d;"><ion-icon color="dark" name="pin"></ion-icon> Philippines</p>
                                    <p style="font-size: 15px;text-align: right;">
                                            <ion-icon color="dark" name="heart" style="font-size: 17px"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                                            <ion-icon color="dark" name="eye" style="font-size: 17px"></ion-icon>&nbsp;8k
                                          </p>
                                  </ion-label>
                      </ion-item>
                      <ion-item (click)="goVideoTapped()">
                              <ion-thumbnail slot="start" style="min-width: 7rem;min-height: 5rem;">
                                <img src="assets/icon/imgsample.jpg">  
                              </ion-thumbnail>
                              <ion-label>
                                <h2>Lyra Kipos</h2>
                                <p style="line-height: 1.5;font-size: 13px;color: #8d8d8d;"><ion-icon color="dark" name="pin"></ion-icon> Philippines</p>
                                <p style="font-size: 15px;text-align: right;">
                                        <ion-icon color="dark" name="heart" style="font-size: 17px"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                                        <ion-icon color="dark" name="eye" style="font-size: 17px"></ion-icon>&nbsp;8k
                                      </p>
                              </ion-label>
                      </ion-item>
                      <ion-item (click)="goVideoTapped()">
                              <ion-thumbnail slot="start" style="min-width: 7rem;min-height: 5rem;">
                                <img src="assets/icon/imgsample.jpg">  
                              </ion-thumbnail>
                              <ion-label>
                                <h2>Cindy Luz</h2>
                                <p style="line-height: 1.5;font-size: 13px;color: #8d8d8d;"><ion-icon color="dark" name="pin"></ion-icon> Philippines</p>
                                <p style="font-size: 15px;text-align: right;">
                                        <ion-icon color="dark" name="heart" style="font-size: 17px"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                                        <ion-icon color="dark" name="eye" style="font-size: 17px"></ion-icon>&nbsp;8k
                                      </p>
                              </ion-label>
                      </ion-item>
                      <ion-item (click)="goVideoTapped()">
                              <ion-thumbnail slot="start" style="min-width: 7rem;min-height: 5rem;">
                                <img src="assets/icon/imgsample.jpg">  
                              </ion-thumbnail>
                              <ion-label>
                                <h2>Kira Lopez</h2>
                                <p style="line-height: 1.5;font-size: 13px;color: #8d8d8d;"><ion-icon color="dark" name="pin"></ion-icon> Philippines</p>
                                <p style="font-size: 15px;text-align: right;">
                                        <ion-icon color="dark" name="heart" style="font-size: 17px"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                                        <ion-icon color="dark" name="eye" style="font-size: 17px"></ion-icon>&nbsp;8k
                                      </p>
                              </ion-label>
                      </ion-item>
              </ion-list>
            </ion-col>
            </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-list>
                      <ion-item (click)="goVideoTapped()">
                              <ion-thumbnail slot="start" style="min-width: 7rem;min-height: 5rem;">
                                <img src="assets/icon/imgsample.jpg">  
                              </ion-thumbnail>
                              <ion-label>
                                <h2>Kira Lopez</h2>
                                <p style="line-height: 1.5;font-size: 13px;color: #8d8d8d;"><ion-icon color="dark" name="pin"></ion-icon> Philippines</p>
                                <p style="font-size: 15px;text-align: right;">
                                        <ion-icon color="dark" name="heart" style="font-size: 17px"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                                        <ion-icon color="dark" name="eye" style="font-size: 17px"></ion-icon>&nbsp;8k
                                      </p>
                              </ion-label>
                      </ion-item>
                      <ion-item (click)="goVideoTapped()">
                              <ion-thumbnail slot="start" style="min-width: 7rem;min-height: 5rem;">
                                <img src="assets/icon/imgsample.jpg">  
                              </ion-thumbnail>
                              <ion-label>
                                <h2>Cindy Luz</h2>
                                <p style="line-height: 1.5;font-size: 13px;color: #8d8d8d;"><ion-icon color="dark" name="pin"></ion-icon> Philippines</p>
                                <p style="font-size: 15px;text-align: right;">
                                        <ion-icon color="dark" name="heart" style="font-size: 17px"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                                        <ion-icon color="dark" name="eye" style="font-size: 17px"></ion-icon>&nbsp;8k
                                      </p>
                              </ion-label>
                      </ion-item>
                      <ion-item (click)="goVideoTapped()">
                              <ion-thumbnail slot="start" style="min-width: 7rem;min-height: 5rem;">
                                <img src="assets/icon/imgsample.jpg">  
                              </ion-thumbnail>
                              <ion-label>
                                <h2>Lyra Kipos</h2>
                                <p style="line-height: 1.5;font-size: 13px;color: #8d8d8d;"><ion-icon color="dark" name="pin"></ion-icon> Philippines</p>
                                <p style="font-size: 15px;text-align: right;">
                                        <ion-icon color="dark" name="heart" style="font-size: 17px"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                                        <ion-icon color="dark" name="eye" style="font-size: 17px"></ion-icon>&nbsp;8k
                                      </p>
                              </ion-label>
                      </ion-item>
                      <ion-item (click)="goVideoTapped()">
                                  <ion-thumbnail slot="start" style="min-width: 7rem;min-height: 5rem;">
                                    <img src="assets/icon/imgsample.jpg">  
                                  </ion-thumbnail>
                                  <ion-label>
                                    <h2>Jolie Celestial</h2>
                                    <p style="line-height: 1.5;font-size: 13px;color: #8d8d8d;"><ion-icon color="dark" name="pin"></ion-icon> Philippines</p>
                                    <p style="font-size: 15px;text-align: right;">
                                            <ion-icon color="dark" name="heart" style="font-size: 17px"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                                            <ion-icon color="dark" name="eye" style="font-size: 17px"></ion-icon>&nbsp;8k
                                          </p>
                                  </ion-label>
                      </ion-item>
                      <ion-item (click)="goVideoTapped()">
                              <ion-thumbnail slot="start" style="min-width: 7rem;min-height: 5rem;">
                                <img src="assets/icon/imgsample.jpg">  
                              </ion-thumbnail>
                              <ion-label>
                                <h2>Lili Cruz</h2>
                                <p style="line-height: 1.5;font-size: 13px;color: #8d8d8d;"><ion-icon color="dark" name="pin"></ion-icon> Philippines</p>
                                <p style="font-size: 15px;text-align: right;">
                                        <ion-icon color="dark" name="heart" style="font-size: 17px"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                                        <ion-icon color="dark" name="eye" style="font-size: 17px"></ion-icon>&nbsp;8k
                                      </p>
                              </ion-label>
                            </ion-item>
                      <ion-item (click)="goVideoTapped()">
                        <ion-thumbnail slot="start" style="min-width: 7rem;min-height: 5rem;">
                          <img src="assets/icon/imgsample.jpg">  
                        </ion-thumbnail>
                        <ion-label>
                          <h2>Lalisa Manuban</h2>
                          <p style="line-height: 1.5;font-size: 13px;color: #8d8d8d;"><ion-icon color="dark" name="pin"></ion-icon> Philippines</p>
                          <p style="font-size: 15px;text-align: right;">
                                  <ion-icon color="dark" name="heart" style="font-size: 17px"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                                  <ion-icon color="dark" name="eye" style="font-size: 17px"></ion-icon>&nbsp;8k
                                </p>
                        </ion-label>
                      </ion-item>
              </ion-list>
            </ion-col>
            </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
        
   
</ion-content>