<ion-header translucent mode="ios">
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button>
            <ion-icon name="arrow-back" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>Terms and Condtions</ion-title>

      <ion-buttons slot="primary">
        <ion-button>
            <img src="assets/icon/brixylogo.png" style="width: 34px;" mode="ios">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding mode="ios">
<p class="justify" style="margin-bottom: 50px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce tellus nisl, vestibulum sed rhoncus at, pretium non libero. Cras vel lacus ut ipsum vehicula aliquam at quis urna.
    <br><br>Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce tellus nisl, vestibulum sed rhoncus at, pretium non libero. Cras vel lacus ut ipsum vehicula aliquam at quis urna.
    <br><br>Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Cras vel lacus ut ipsum vehicula aliquam at quis urna. Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fu
    <br><br>Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce tellus nisl, vestibulum sed rhoncus at, pretium non libero. Cras vel lacus ut ipsum vehicula aliquam at quis urna.
    <br><br>Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Cras vel lacus ut ipsum vehicula aliquam at quis urna. Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fu

  </p>
<div class="my-overlay" padding [hidden]="overlayHidden">
    <ion-item style="text-align: center;" lines="none">
        <ion-checkbox mode="ios" style="font-size: 10px;" color="secondary"></ion-checkbox>
        <ion-label style="font-size: 12px;"><b> I agree to the Terms and Conditions of Brixy</b></ion-label>
    </ion-item>
    
</div>
</ion-content>