<ion-content class="choose-bg">
    <!-- <ion-slides pager="true">
        <ion-slide>
            <img src="assets/icon/imgsample2.jpg" style="width: 100%">  
        </ion-slide>
        <ion-slide>
            <img src="assets/icon/imgsample2.jpg" style="width: 100%">  
        </ion-slide>
        <ion-slide>
            <img src="assets/icon/imgsample2.jpg" style="width: 100%">  
        </ion-slide>
    </ion-slides> -->
    <!-- <ion-button (click)="toFacebook()" class="btn-default">Facebook</ion-button> -->
    <!-- <button ion-button block (click)="loginFb()">Login with Facebook</button>
    <ion-button class="btn-default">Google</ion-button>
    <ion-button (click)="toMobile()" class="btn-default">Mobile</ion-button> -->
    <firebase-ui></firebase-ui>
    <!-- <div class="login-container"> -->
        <!-- <div class="firebaseui-container"> -->
            <!-- <button ion-button class="google-button-login" mode="ios" (click)="google()">
                <span class="google-icon-login"><img src="assets\icon\google-512.png"></span>
                <span class="google-label-login">Google</span>
            </button>
            <button ion-button class="facebook-button-login" mode="ios" (click)="facebook()">
                <span class="facebook-icon-login"><img src="assets\icon\facebook-512.png"></span>
                <span class="facebook-label-login">Facebook</span>
            </button> -->
        <!-- </div> -->
                <div class="firebaseui-container firebaseui-page-provider-sign-in firebaseui-id-page-provider-sign-in firebaseui-use-spinner">
                    <div class="firebaseui-card-content">
                        <form onsubmit="return false;">
                            <ul class="firebaseui-idp-list">
                                <li class="firebaseui-list-item">
                                    <button class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-facebook firebaseui-id-idp-button" (click)="facebook()" style="background-color:#45619d" data-upgraded=",MaterialButton">
                                        <span class="firebaseui-idp-icon-wrapper">
                                            <img class="firebaseui-idp-icon" alt="" src="assets\icon\facebook-512.png" style="height: 40px !important;">
                                        </span>
                                        <span class="firebaseui-idp-text firebaseui-idp-text-short">Facebook</span>
                                    </button>
                                </li>
                                <li class="firebaseui-list-item">
                                    <button class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-google firebaseui-id-idp-button" (click)="google()" style="background-color:#ffffff" data-upgraded=",MaterialButton">
                                        <span class="firebaseui-idp-icon-wrapper">
                                            <img class="firebaseui-idp-icon" alt="" src="assets\icon\google-512.png">
                                        </span>
                                        <span class="firebaseui-idp-text firebaseui-idp-text-short">Google</span>
                                    </button>
                                </li>
                                <li class="firebaseui-list-item">
                                    <button class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-phone firebaseui-id-idp-button" (click)="mobile()" style="background-color:#ffffff" data-upgraded=",MaterialButton">
                                        <span class="firebaseui-idp-icon-wrapper">
                                            <img class="firebaseui-idp-icon" alt="" src="assets\icon\phone-512.png">
                                        </span>
                                        <span class="firebaseui-idp-text firebaseui-idp-text-short">Mobile</span>
                                    </button>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class=" firebaseui-provider-sign-in-footer">
                        <p class="firebaseui-tos firebaseui-tospp-full-message">By continuing, you are indicating that you accept our<br>
                             <a href="/termsconditionslogin" class="firebaseui-link firebaseui-tos-link">Terms and Conditions</a>.
                        </p>
                    </div>
                </div>
<!-- </div> -->
    <!-- <h1 *ngIf="afAuth.auth.currentUser">
        Welcome, {{afAuth.auth.currentUser.displayName}}
    </h1>

    <ion-button *ngIf="afAuth.auth.currentUser" (click)="signOut()">Sign Out</ion-button> -->
   
</ion-content>
