
<ion-content mode="ios">
  <div class="my-overlay" text-center>
      <ion-row >
          <ion-col text-left>
              <ion-item no-padding lines="none" style="--background: rgba(0, 0, 0, 0.3);border: 1px solid#1dc1e6;border-radius: 30px;">
                  <ion-avatar slot="start" no-margin (click)="openliveprofile()">
                      <img src="assets/icon/profilee.png">
                    </ion-avatar>
                <ion-label no-margin>
                  <h2 style="color: white;text-shadow: 1px 1px 2px black;">Lalisa Manuban</h2>
                  <p style="font-size: 15px;text-align: right;color:white;text-shadow: 1px 1px 2px black;">
                          <ion-icon mode="ios" name="medal" style="font-size: 17px;color:white"></ion-icon>&nbsp;26&nbsp;&nbsp;&nbsp;&nbsp;
                          <ion-icon mode="ios" name="heart" style="font-size: 17px;color:white"></ion-icon>&nbsp;8k&nbsp;&nbsp;&nbsp;&nbsp;
                          <ion-icon mode="ios" name="eye" style="font-size: 17px;color:white"></ion-icon>&nbsp;8k
                         </p>
                </ion-label>
              </ion-item>
              <br>
              <img src="assets/gif/lips.gif" style="width: 20%" mode="ios" (click)="goStore()"> 
          </ion-col>
          <ion-col text-right style="padding-right: 10px">
              <div class="thumnails" text-left>
                  <div class="list-thumbnail" >
                    <div class="img-thumb">
                        <ion-icon name="people" style="zoom: 2.0;" mode="ios"></ion-icon>
                        <ion-icon name="people" style="zoom: 2.0;" mode="ios"></ion-icon>
                        <ion-icon name="people" style="zoom: 2.0;" mode="ios"></ion-icon>
                        <ion-icon name="people" style="zoom: 2.0;" mode="ios"></ion-icon>
                        <ion-icon name="people" style="zoom: 2.0;" mode="ios"></ion-icon>
                        <ion-icon name="people" style="zoom: 2.0;" mode="ios"></ion-icon>
                    </div>
                  </div>
                </div>
                <div class="icon-background">
                  <ion-icon (click)="goHome()" style="zoom: 2.0;color:white" name="close" mode="ios" text-center mode="ios"></ion-icon>
                </div>
          </ion-col>
        </ion-row>
  </div>
  <img src="assets/icon/girl.gif" style="height: 100%;">
  
  <div class="my-overlay" style="bottom:10%;right: 2%;" text-right>
      <div class="icon-background" >
          <ion-icon (click)="openAllgifts()" style="zoom: 2.0;color:white" mode="ios" name="gift" text-center></ion-icon>
        </div>
  </div>
  <div class="my-overlay" style="bottom:2%;left: 2%;" text-left>
      <div class="icon-background" >
          <ion-icon (click)="goTab5()" style="zoom: 2.0;color:white" mode="ios" name="mail" text-center></ion-icon>
      </div>&nbsp;
      <div class="icon-background" >
          <ion-icon style="zoom: 2.0;color:white" mode="ios" name="create" text-center></ion-icon>
      </div>
  </div>
</ion-content>