<ion-header translucent mode="ios">
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button>
            <ion-icon name="arrow-back"  mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>My Account</ion-title>

      <ion-buttons slot="primary">
        <ion-button>
            <img src="assets/icon/brixylogo.png" style="width: 32px;" mode="ios">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content mode="ios" text-center>
<ion-card mode="ios" style="color: white;margin: 10px" color="dark">
      <ion-card-header mode="ios">
          <div class="my-overlay" text-center>
              <ion-icon mode="ios" name="settings" style="zoom:2.2;color: white;" (click)="goSettings()"></ion-icon>
          </div>
          <div *ngIf="!picture">
            <ion-icon name="contact" mode="ios" style="zoom: 8.0;color:white; margin: auto"></ion-icon><br>
            <ion-button text-right size="small" mode="ios" color="light" (click)="update_photo()"><ion-icon mode="ios" name="image"></ion-icon>
              &nbsp;Upload Profile Picture</ion-button><br>
          </div>
          <div *ngIf="picture">
            <img [src] = "complete_pic" style="width:131px;height:131px;display: block;margin: auto">
        </div><br>
        <ion-card-subtitle *ngIf="fname !== 'Anonymous'">
          <ion-button size="small" mode="ios" (click)="goEditProfile()" color="light"><ion-icon mode="ios" name="create"></ion-icon>
            Update Profile</ion-button>
        </ion-card-subtitle>
        <ion-card-title style="color: white;">
          <br><div *ngIf="fname">{{fname}}&nbsp;{{lname}}</div><br>
          <ion-label style="font-size: 13px;">User ID: 5486-9843-{{id}}</ion-label> <br>
          <ion-label style="font-size: 13px;" *ngIf="city">{{city}},&nbsp;{{country}}</ion-label>  
            <ion-grid *ngIf="fname !== 'Anonymous'"><br>
              <ion-row>
                  <ion-col>
                      <ion-label style="font-size: 15px;">Level</ion-label>
                  </ion-col>
                  <ion-col>
                      <ion-label style="font-size: 15px;">Gold</ion-label>
                  </ion-col>
                  <ion-col>
                      <ion-label style="font-size: 15px;">Coins</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <!-- <ion-icon name="star" mode="ios" color="warning"></ion-icon>  -->
                        <img src="assets/icon/medal.png" style="width: 30px !important; height: 30px; margin: auto;">
                        <ion-label style="font-size: 15px;">14</ion-label>
                    </ion-col>
                    <ion-col>
                        <!-- <ion-icon name="medal"  mode="ios" color="warning"></ion-icon> -->
                        <img src="assets/icon/gold.png" style="width: 30px !important; height: 30px; margin: auto;">
                        <ion-label style="font-size: 15px;">4, 301</ion-label>
                    </ion-col>
                    <ion-col>
                        <!-- <ion-icon name="logo-bitcoin"  mode="ios" color="warning"></ion-icon> -->
                        <img src="assets/icon/cost.png" style="width: 30px !important; height: 30px; margin: auto;">
                        <ion-label style="font-size: 15px;">4</ion-label>
                    </ion-col>
                  </ion-row> <br>
                <ion-row style="text-align: center;padding: 0%;">
                  <ion-col>
                    <div>
                        <ion-button mode="ios" (click)="goFavorites()" shape="round" color="light" style="font-size: 12px;">Followers: 30</ion-button>
                    </div>
                  </ion-col>
                  <ion-col>
                      <div>
                          <ion-button mode="ios" (click)="goFavorites()" shape="round" color="light" style="font-size: 12px;">Following: 30</ion-button>
                      </div>
                    </ion-col>
                </ion-row>
              </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content mode="ios" no-padding *ngIf="fname !== 'Anonymous'">
        <ion-list mode="ios">
          <ion-item (click)="goStore()">
            <ion-icon slot="start" name="business" mode="ios" color="dark"></ion-icon>
            <ion-label>Brixy Store</ion-label>
          </ion-item>
            <ion-item (click)="goWallet()">
                <ion-icon slot="start" name="wallet" color="dark"></ion-icon>
                <ion-label>My Wallet</ion-label>
            </ion-item>
            <ion-item (click)="goPublished()">
                <ion-icon slot="start" name="aperture" color="dark"></ion-icon>
                <ion-label>My Broadcast</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon slot="start" name="card" mode="ios" color="dark"></ion-icon>
                <ion-label>My VIP Package</ion-label>
            </ion-item>
            <!-- <ion-item>
                <ion-icon slot="start" name="people" mode="ios" color="dark"></ion-icon>
                <ion-label>My Top Fans</ion-label>
            </ion-item> -->
        </ion-list>
      </ion-card-content>
      
    </ion-card>
</ion-content>
